body {
  margin: 0;
  background: #f6f8f9;
  font-family: "Poppins", sans-serif;
  color: #2b2b2b;
}

.babysits-wrapper {
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.bs-header {
  display: flex;
  gap: 30px;
  padding: 50px 30px;
  background: linear-gradient(180deg, #dff3f1, #eaf7f6);
  border-radius: 0 0 30px 30px;
}

.bs-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background: #ccc;
}

.bs-header-info h1 {
  margin: 0;
  font-size: 30px;
}

.verified {
  margin-left: 10px;
  color: #ff7aa2;
  font-size: 18px;
}

.subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: #555;
}

.header-meta {
  margin-top: 14px;
  font-size: 16px;
}

/* CONTENT */
.bs-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  padding: 40px 30px;
}

.left h3 {
  margin-top: 30px;
  font-size: 18px;
}

.left p {
  margin-top: 6px;
  color: #555;
}

.description span {
  color: #777;
}

/* RIGHT */
.contact-btn {
  background: #3fc9b0;
  color: white;
  border: none;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

.contact-info {
  margin-top: 25px;
  font-size: 14px;
  color: #444;
}

.contact-info p {
  margin-bottom: 8px;
}
